
<h4>EID : {{personData.eId}}</h4>
<h4>name : {{personData.name}}</h4>
<h4>maritalState : {{personData.maritalState}}</h4>
<h4>createdDate : {{personData.createdDate}}</h4>
<h4>lastModified : {{personData.lastModified}}</h4>
<h4>church : {{personData.church}}</h4>
<h4>birthDate : {{personData.birthDate}}</h4>
<h4>placeOfBirth : {{personData.placeOfBirth}}</h4>
<h4>baptismDate : {{personData.baptismDate}}</h4>
<h4>placeOfBaptism : {{personData.placeOfBaptism}}</h4>
<h4>edQualification : {{personData.edQualification}}</h4>
<h4>address : {{personData.address}}</h4>
<h4>jobTitle : {{personData.jobTitle}}</h4>
<h4>jobAddress : {{personData.jobAddress}}</h4>
<h4>militaryStatus : {{personData.militaryStatus}}</h4>
<h4>relatedChurch : {{personData.relatedChurch}}</h4>
<h4>confessoPriest : {{personData.confessoPriest}}</h4>
<h4>confessorChurch : {{personData.confessorChurch}}</h4>
<h4>confessionRate : {{personData.confessionRate}}</h4>
<h4>eucharistRate : {{personData.eucharistRate}}</h4>
<h4>foreignCountryName : {{personData.foreignCountryName}}</h4>
<h4>foreignCountryDate : {{personData.foreignCountryDate}}</h4>
<h4>familyLinks : {{personData.familyLinks}}</h4>
<h4>engagedBefore : {{personData.engagedBefore}}</h4>
<h4>marriedOutside : {{personData.marriedOutside}}</h4><h4>church : {{personData.church}}</h4>
<h4>marriedInside : {{personData.marriedInside}}</h4>
<h4>churchMarriage : {{personData.churchMarriage}}</h4>
<h4>marriagePlace : {{personData.marriagePlace}}</h4>
<h4>marriagePriest : {{personData.marriagePriest}}</h4>
<h4>civilMarriage : {{personData.civilMarriage}}</h4>
<h4>civilMarriageDate : {{personData.civilMarriageDate}}</h4>
<h4>maritalStatus : {{personData.maritalStatus}}</h4>
<h4>widowhoodDate : {{personData.widowhoodDate}}</h4>
<h4>marriedBeforeWidowhood : {{personData.marriedBeforeWidowhood}}</h4>
<h4>marriageBeforeWidowhoodInfo : {{personData.marriageBeforeWidowhoodInfo}}</h4>
<h4>divorced : {{personData.divorced}}</h4>
<h4>court : {{personData.court}}</h4>
<h4>caseNum : {{personData.caseNum}}</h4>
