
<h2>church : {{personData.church}}  : الكنيسه </h2>
<h2>name : {{personData.name}}   : الاسم الثلاثي  </h2>

<h2>birthDate : {{personData.birthDate}}  : تاريخ الميلاد </h2>
<h2>placeOfBirth : {{personData.placeOfBirth}}  : مكان الميلاد </h2>

<h2>baptismDate : {{personData.baptismDate}}  :  تاريخ العماد </h2>
<h2>placeOfBaptism : {{personData.placeOfBaptism}}  :  مكان العماد</h2>

<h2>EID : {{personData.eId}}  : رقم الهويه</h2>
<h2>edQualification : {{personData.edQualification}}  :  المؤهل </h2>

<h2>address : {{personData.address}}  :  العنوان</h2>
<h2>militaryStatus : {{personData.militaryStatus}} :  الموقف من التجنيد</h2>
<h2>jobTitle : {{personData.jobTitle}}  :  العمل</h2>
<h2>jobAddress : {{personData.jobAddress}}  :  عنوان العمل</h2>
<h2>relatedChurch : {{personData.relatedChurch}} :  الكنيسه التابع لها</h2>
<h2>confessorPriest : {{personData.confessoPriest}}  :  اب الاعتراف</h2>
<h2>confessorChurch : {{personData.confessorChurch}} :  كنيسه اب الاعتراف</h2>
<h2>confessionRate : {{personData.confessionRate}}  :  معدل الاعتراف</h2>
<h2>eucharistRate : {{personData.eucharistRate}}  :  معدل التناول</h2>
<h2>foreignCountryName : {{personData.foreignCountryName}}  :  السفر الي الخارج</h2>
<h2>foreignCountryDate : {{personData.foreignCountryDate}}  :  تاريخ السفر</h2>
<h2>engagedBefore : {{personData.engagedBefore}}  :  خطوبه سابقه</h2>
<h2>marriedOutside : {{personData.marriedOutside}}  :  زواج داخل مصر المكان و التاريخ و الكاهن</h2>
<h2>marriedInside : {{personData.marriedInside}} : زواج خارج مصر المكان و التاريخ و الكاهن </h2>
<h2>churchMarriage : {{personData.churchMarriage}}  : زواج كنسي</h2>
<h2>marriagePlace : {{personData.marriagePlace}}  :  مكان الزواج</h2>
<h2>marriagePriest : {{personData.marriagePriest}} : الاب الكاهن</h2>
<h2>civilMarriage : {{personData.civilMarriage}} :  جهه الزواج المدني </h2>
<h2>civilMarriageDate : {{personData.civilMarriageDate}} : تاريخ الزواج المدني </h2>
<h2>maritalStatus : {{personData.maritalStatus}} : الحاله الاجتماعيه</h2>
<h2>widowhoodDate : {{personData.widowhoodDate}} : تاريخ الترمل</h2>
<h2>marriedBeforeWidowhood : {{personData.marriedBeforeWidowhood}} : زواج قبل الترمل</h2>
<h2>marriageBeforeWidowhoodInfo : {{personData.marriageBeforeWidowhoodInfo}} : بمن و متي و اين </h2>
<h2>divorced : {{personData.divorced}} : مطلق</h2>
<h2>court : {{personData.court}} : المحكمه</h2>
<h2>caseNum : {{personData.caseNum}} : رقم القضيه</h2>
<h2>Case Date : {{personData.familyLinks}} : تاريخ القضيه</h2>
<h2>marriageApprovalSource : {{personData.marriageApprovalSource}} : مصدر التصريح بالزواج</h2>
<h2>marriageApprovalDate : {{personData.marriageApprovalDate}} : تاريخ التصريح بالزواج</h2>
<h2>childsNum : {{personData.childsNum}} : عدد الاولاد</h2>
<h2>childAges : {{personData.childAge}} : اعمارهم</h2>
<h2>childsBiptesm : {{personData.childsBiptesm}} : عمادهم</h2>
<h2>familyLinks : {{personData.familyLinks}} : نوع القرابه</h2>

<h2>maritalState : {{personData.maritalState}}  : الحاله الاجتماعيه</h2>
<h2>createdDate : {{personData.createdDate}} : تاريخ تحرير الوثيقه</h2>
<h2>lastModified : {{personData.lastModified}}  : تاريخ اخر تعديل</h2>
